* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
  font-family: sans-serif;
  color: white;
}

.main {
  border-radius: 2vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
  backdrop-filter: blur(20px) saturate(120%);
}

.location, .temperature {
  height: 30vh;
  windows: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location-timezone, .icon {
  margin: 0 20;
}

.temperature {
  flex-direction: column;
  margin: 0;
  padding: 50;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span {
  margin: 3px;
  font-size: 30px;
  color: #8CA7FF;
}

.degree-section h2 {
  font-size: 40px;
}

.temperature-description {
  font-size: 20px;
}

.all-data {
  text-align: center;
  margin-top: 30px;
}

.input {
  text-align: center;
  margin-top: 25px; 
}

.input:after {
  content: '';
  width: 100%;
  visibility: hidden;
  overflow: hidden;
  display: inline-block;
}

input[type="text"] {
  display: inline-block;
  color: white;
  background: #6E86FF;
  font-size: 15px;
  padding: 8px;
  float: left;
  width: 40%;
  margin: 0 auto;
  border: 2px solid #275AFF;
  border-radius: 0 0 0 2vh;
}

input[type="submit"] {
  display: inline-block;
  color: white;
  background: #5B76FF;
  font-size: 15px;
  font-weight: bold;
  padding: 8px;
  float: left;
  width: 30%;
  margin: 0 auto;
  border: 2px solid #275AFF;
}

input[type="submit"]:hover {
  background: #4A68FF;
}

.enter-location {
  border-radius: 0 0 2vh 0;
}

@media only screen and (max-width : 400px) {
	input[type="text"] {
    width: 100%;
    border-radius: 0;
	}

	input[type="submit"] {
    width: 50%;
	}

	.enter-city {
    border-radius: 0 0 0 2vh;
	}
}
